{% extends "base.html" %}
{% block title %}
passwordresetnewform
{% endblock %}
{% block content %}
<div style="justify-content: center; display:flex;">
    {% if validlink %}
    <form method="post">
        {% csrf_token %}
        <br>
         <h2>Set New Password</h2>
        <input type="hidden" name="csrfmiddlewaretoken" value="S0av7tQOWn9xaUyaWm7LyZ4Qgfxqcu0AfsIAD6zl54aNeixpjI1bsZFLWxxujj5w"> <br>
        <label for="id_new_password1">New Password:</label> <br>
        <input style="width: 9cm;" type="password" name="new_password1" autocomplete="new-password" placeholder="Enter new password" required id="id_new_password1"> <br> 
        <label for="id_new_password2">Re-Type Password</label> <br>
        <input style="width: 9cm;" type="password" name="new_password2" placeholder="Enter Again new passowrd" autocomplete="new-password" required id="id_new_password2"> <br>
        <button class="btn btn-primary" type="submit">Set Password</button>
    </form>
    {% else %} 
    <p>the password reset link was invalid ,possibly because it has been used,Please request a new password reset</p>
    {% endif %}
</div>
{% endblock %} 