{% extends "base.html" %}
{% block title %}
passwordresetnewform
{% endblock %}
{% block content %}
<div style="justify-content: center; display:flex;">
    {% if validlink %}
    <form method="post">
        {% csrf_token %}
        <br>
         <h2>Set New Password</h2>
        {{form.as_p }}
        <input type="submit" value="set password" >
    </form>
    {% else %} 
    <p>the password reset link was invalid ,possibly because it has been used,Please request a new password reset</p>
    {% endif %}
</div>
{% endblock %} 