{% extends "base.html" %}
{% block title %}Passwordreset{% endblock %}
{% block content %}
<div style="justify-content: center;display:flex;">
    <form action="">
        {% csrf_token %}
        <h1>ChangePassword</h1>
        <div>
            <label for="{{form.old_password.id_for_label}}">Old Password</label><br>
            <input style="width: 8cm;" type="password" id="{{form.old_password.id}}" placeholder="Enter your old password" name="{{form.old_password.name}}"> <br>
            {% if form.old_password.errors %}
              <span style="color: red;">{{form.old_password.errors}}</span> <br>
            {% endif %}
        </div>

        <div>
            <label for="{{form.new_password1.id_for_label}}">New Password</label> <br>
            <input style="width: 8cm;" type="password" id="{{form.new_password1.id}}" placeholder="Enter new password" name="{{form.new_password1.name}}"> <br>
            {% if form.new_password1.errors %}
              <span style="color: red;">{{form.new_password1.errors}}</span> <br>
            {% endif %}
        </div>

      <div>
            <label for="{{form.new_password2.id_for_label}}">Re-Type Password</label> <br>
            <input style="width: 8cm;" type="password" id="{{form.new_password2.id}}" placeholder="Enter again password" name="{{form.new_password2.name}}"> <br>
            {% if form.new_password2.errors %}
              <span style="color: red;">{{form.new_password2.errors}}</span> <br>
            {% endif %}
        </div>        

        <div>
            <button class="btn btn-success" type="submit" >Set Password</button>
        </div>

    </form>
</div>
{% endblock %}